h1, h2, h3, h4, h5, h6, p, .text-dark-blue{
    color: #170538;
}
.text-green{
    color: #95CE4D;
}
.bg-green{
    background: #95CE4D;
}
.bg-sec{
    background: #EBEBEB;
}
.bg-nav{
    background: #F7FFFF;
    color: #504B69;
}
.main-bg{
    background: url("../img/main-bg.png") no-repeat center;
    background-size: cover;
}
.map-bg{
    background: url("../img/map-bg.png") no-repeat center;
    background-size: cover;
}
.map-bg p, .succession-p p, .my-txt-mute{
    color: #676767;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.mob-nav{
    display:none;    
}
.desktop-nav .nav-link{
    padding:.5rem .8rem;
    font-size: 14px;
}
.nav-link{
    color: #504B69;
}
.nav-link:hover, .nav-link .active{
    color:#504b69a8 !important;
}
.nav-link:hover, .nav-link .active{
    border-bottom: 1.2px solid #95CE4D !important;
}
.slider-bg{
    background-color: #F7FFFF !important;
    /* background: url("../img/main-bg.png") no-repeat;
    background-size: cover;
    background-position: center; */
}
.main-slider{
    height: 500px;
}
.main-slider .tns-nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 6rem;
}
.main-slider [data-nav], .main-slider  [data-nav].tns-nav-active{
    border: 1px solid #170538;
    width: 2rem;
}
.main-slider  [data-nav].tns-nav-active{
background:  #170538;
}
.main-slider [data-nav]{
    background: transparent;
}
.wlc-div{
    bottom: 50%;
    position: absolute;
}
.wlc-div .wlc-btns a:first-child{
    background:  #170538;
    color: #fff;
}
.wlc-div .wlc-btns a:first-child:hover{
    background:  #170538c2;
}
.wlc-div .wlc-btns a:last-child{
    background:  transparent;
    color: #170538;
    border: 1px solid #170538;
}
.wlc-div .wlc-btns a:last-child:hover{
    color: #170538ad;
}

.slider-header{
    font-size: 3rem;
    font-weight: 600;
}
.main-list{
    position: absolute;
    right: 0;
    left: 0;
    top: -11.6rem;
}
.main-list .slider-header{
    color: #979797;
    font-size: 2.2rem;
}
.sub-light-sec{
    margin-top: 13rem;
    background: url("../img/sub-light-bg.png") no-repeat;
}
.subsidiary-container{
    margin-top: 18rem;
}
.subsidiary-container p{
    color: #979797;
}
.sub-light-sec h3{
    font-size: 50px;
    font-weight: 700;
}
.sub-light-sec p{
    font-size: 15px;
}
.circle-1, .circle-2, .circle-3, .circle-5, .circle-6, .circle-7, .sub-light-sec, .expert-imges, .callback{
    background-position: center !important;
    background-size: contain !important;
}
.circle-1{
    background: url("../img//house-lighthill.png") no-repeat;
}
.circle-2{
    background: url("../img/coin-lighthill.png") no-repeat;
}
.circle-3{
    background: url("../img/truck-lighhill.png") no-repeat;
}
.circle-5{
    background: url("../img/plane-lighthill.png") no-repeat;
}
.circle-6{
    background: url("../img//money-lighthill.png") no-repeat;
}
.circle-7{
    background: url("../img/farm-lighthill.png") no-repeat;
}
.circle-1, .circle-6{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.circle-6{
    top: 0;
}
.circle-2, .circle-7{
    width: 290px;
    height: 290px;
}
.circle-3, .circle-5{
    width: 200px;
    height: 200px;
}
.expert-imges{
    background: url("../img/sub-light-bg.png") no-repeat;
    background-position: left !important;
}
.expert-imges img:first-child{
    position: relative;
    z-index: 5;
}
.expert-imges img:last-child{
    position: absolute;
    right:6rem ;
    top: 8rem;
    z-index: 1;
}
.client-section{
    background: #E9E9E9;
}
.parallax{
    background: url("../img/para-img.png") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 350px;
}
.team-img-size{
    width: 150px;
    height: auto;
}
.talk-section{
        background-image: linear-gradient(to right, #504B69 , #170538);
}
.btn-col a{
    bottom: 0;
}
.star-rating .active, .boss-text, .quote-l{
    color: #95CE4D;
}
.star-rating .unactive{
    color: #ccc;
}
.all-testimonies{
    background: #F8F8F8;
}
.all-testimonies [data-controls='prev'], .all-testimonies [data-controls='next']{
    color: #fff;
    background: #95CE4D;
    font-size: 1.3rem;
}
.all-testimonies [data-controls='prev']{
    left: -2rem;
}
 .all-testimonies [data-controls='next']{
    right: -2rem;
}
.all-testimonies .card{
    background: transparent ;
}
.quote-r, .quote-l{
    transform: scaleX(-1);
    font-size: 2rem;
}
.quote-r{
    top: 0;
    left: -1rem;
}
.quote-l{
    bottom: 0;
    right: -1rem;
}
.team{
    background: #F9F9F9;
}
.callback{
    background: url("../img/caalback.png") no-repeat;
    background-size: cover !important;
}
footer{
    background: #292929;
}
/* Google map location style */
.map-holder {
    width: 100%;
    height: 150px;
    background-color: grey;
  }
 .wlc-list{
    margin-bottom: 30rem;
} 

/* About page style */
.li-1{
    width: 15%;
}
.li-2{
    width: 21%;
}
.li-3{
    width: 29%;
}
.li-4{
    width: 35%;
}
.li-1 img, .li-2 img, .li-3 img, .li-4 img, .li-img{
    width: 40px !important;
    height: 40px !important;
}
.know-section{
    margin-top: -20rem;
}
.know-section p{
    color: #504B69;
}
.succession-p{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.succession-header{
    position: absolute;
    top: 6.5rem;
    left: -5rem;
}
.mgt-sect{
    margin-top: 11rem;
}
.lighthill-card, .card-img-height img{
    border-radius: 30px;
}
 .card-img-height img{
    height: 200px;
    width: 100%;
}
.card-img-height img{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card-img-height{
    height: 200px;
}
.blog-section{
    margin-top: -6rem;
}
/* Team Image Fit */
#gallery-card .card{
    width: fit-content;
}
.team-img-fit{
    width: 280px !important;
    height: 280px !important;
    padding: 7px;
    border: 4px solid #95CE4D;
}
.cz-gallery .card-body>p, .cz-gallery .card-body>small{
    color: #707070;
}
.cz-gallery .card-body> .fa-envelope{
    color: #95CE4D !important;
}
.callback-abs{
    position: absolute;
    top: -17rem;
    right: 0;
    left: 0;
}
/* Gallery Image style */
.gallery-img::before{
        margin-left: 0;
        left: 0;
        border-radius: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
}

.gallery-img::after{
    width: fit-content;
    padding-top:1rem;
    height: 2.875rem;
    font-size: .75rem;
    text-align: center;
    content: 'View \2192';
}


/* media queries for tablet, ipad and mobile */

@media screen and (max-width:769px){
    p{
        font-size: .85rem;
    }
    .mob-nav{
        display: block;
    }
    .desktop-nav{
        display: none;
    }
    .nav-link:hover, .nav-link .active{
        color:#504b69a8 !important;
        border-bottom: none;
    }
    .main-slider{
        height: 220px;
    }
    .main-slider .tns-nav {
        bottom: .3rem;
    }
    .wlc-div{
        bottom: 0;
        position: unset;
    }
    .main-list{
        top: -1rem;
    }
    .main-list .slider-header{
        font-size: 1.5rem;
    }
    .main-list li{
        width: 100% !important;
        text-align: center;
        padding: 1rem !important;
    }
    .main-list h5{
        font-size: 1.0rem;
    }
    .main-list p{
        font-size: 14px;
    }
    .main-list img{
        display: block;
        margin: 0 auto .5rem;
        width:50px;
        height: 50px;
    }
    .sub-light-sec{
        margin-top: 18rem;
        text-align: center;
    }
    .sub-light-sec h3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .subsidiary-container{
        margin-top: 10px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .expert-imges img:first-child{
        width: 180px;
        height: 200px;
    }
    .expert-imges img:last-child{
        width: 180px;
        height: 200px;
        right:2rem ;
        top: 7rem;
        z-index: 1;
    }
    .know-section{
        margin-top: -10rem;
    }
    .succession-header{
        top: 3rem;
    }
    .callback-abs{
        position: static;
    }
    .all-testimonies [data-controls='prev']{
        left: -.5rem;
    }
     .all-testimonies [data-controls='next']{
        right: -.5rem;
    }
}


@media screen and (max-width:450px){
    .main-slider .tns-nav {
        bottom: -3rem;
    }
    .slider-header{
        font-size: 2rem;
    }
    .main-list li{
        padding: 1.7rem !important;
    }
    .circle-1, .circle-2, .circle-3, .circle-4, .circle-6, .circle-7{
        position: unset;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .sub-light-sec{
        margin-top: 45rem;
        text-align: center;
    }
    .expert-imges{
        margin-bottom: 5rem;
    }
    .expert-imges img:first-child{
        left: 2rem;
    }
    .expert-imges img:last-child{
        right:2rem ;
    }
    .parallax{
        height: 650px;
    }
    .btn-col{
        justify-content: start !important;
    }
    .btn-col a{
        position: unset !important;
    }
    .know-section{
        margin-top: 45rem;
    }
    .succession-header, .succession-p{
        position: static;
    }
    .mgt-sect{
        margin-top: 33rem;
    }
    .blog-section{
        margin-top: -7rem;
    }

}



/* Rare exceptions */
@media screen and (max-width:320px){
    .know-section{
        margin-top: 45rem;
    }
}